boto==2.48.0
dj-database-url==0.4.2
Django==2.2.24
django-markdownx==2.0.21
django-storages==1.6.5
gunicorn==19.7.1
Markdown==2.6.9
olefile==0.44
Pillow==8.3.2
psycopg2==2.7.1
py==1.10.0
pytest==3.2.0
whitenoise==3.3.0
